extends layout

block content
  h1 #{title}
  table.table
    thead
      tr
        th(scope="col")="#"
        th(scope="col")="Name"
        th(scope="col")="Rating"
    tbody
      each footballer, i in footballers
        tr
          th(scope="col")=(i+1)
          td
            a(href="/footballers/"+footballer.id)= footballer.name
          td= footballer.rating

//- <table style="width:100%">
//-   <tr>
//-     <th>Firstname</th>
//-     <th>Lastname</th>
//-     <th>Age</th>
//-   </tr>
//-   <tr>
//-     <td>Jill</td>
//-     <td>Smith</td>
//-     <td>50</td>
//-   </tr>
//-   <tr>
//-     <td>Eve</td>
//-     <td>Jackson</td>
//-     <td>94</td>
//-   </tr>
//- </table>